<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="Test.Registrationtest"/>
     <class name="Test.Logouttest"/>
     <class name="Test.Logintest"/>
      <class name="Test.Accounttest"/>
       <class name="Test.Hometest"/>
       <class name="Test.Producttest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
